#header{
    display:flex;
    justify-content: center;

}

  .figure {
    margin-top: 56px;
  }

  footer h6{
    justify-content: center;
    display:flex
  }
  
img{
  max-height: 15rem;
  border-radius: 1rem;
}